#shoping_cart {
	position:fixed;
	top:15px;
	right:15px;
	z-index:10;
	font-size:40px;
	background-color: rgba(0,0,0,0.7);
	padding:5px 10px;
	border-radius: 5px;
	cursor:pointer;
}
#badge {
	position:absolute;
	top:10px;
	left:-10px;
	z-index:10;
	color:white !important;
}